.filename {
  font-size: token('text.sm');
  background-color: token('color.slate.2');
  inline-size: fit-content;
  border-radius: token('radius.full');
  line-height: 1;
  padding-inline: token('spacing.2');
  padding-block: token('spacing.1');
  color: token('color.slate.10');
  margin-block-end: token('spacing.4');
}

.codeWrapper {
  position: relative;
  overflow-x: auto;
}

.codeScroll {
  display: inline-block;
  min-inline-size: 100%;
  padding: token('spacing.4');
  vertical-align: top;
  box-sizing: border-box;
}
