.container {
  max-inline-size: token('container.5xl');
  margin-inline: auto;
  padding-inline: token('spacing.4');
}

.lintContainer {
  padding: token('spacing.4');

  &:first-of-type {
    padding-block-end: 0;
  }

  &:last-of-type {
    padding-block-start: 0;
  }
}

.lintIntro {
  color: token('color.slate.11');
}

.link {
  color: token('color.slate.12');
  text-decoration: underline dotted token('color.slate.11');
  text-underline-offset: 0.25em;
  font-weight: token('font.weight.semibold');
  transition: text-decoration-color token('duration.100') token('ease.in');

  &:hover {
    text-decoration-color: token('color.slate.12');
  }
}

/* atomic: skip */
[data-squiggle] {
  text-decoration: underline wavy token('color.danger.9') 1px;
  text-underline-offset: 0.25em;
}

.lintError {
  display: flex;
  flex-direction: column;
  gap: token('spacing.1');
  padding: token('spacing.2');
  background-color: token('color.danger.2');
  border: 1px solid token('color.danger.5');
  border-radius: token('radius.lg');
}

.lintErrorMessage {
  color: token('color.danger.11');
  font-size: token('text.sm');
}

.lintErrorRule {
  color: token('color.slate.11');
  font-size: token('text.xs');
}
